--
-- PostgreSQL database dump
--

\restrict 2bC94muHVLJRdSGOmUbQCy7bll3N9hTOHAJqViePBBCXBgrC1cklsf1UGDKbr6U

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials (
    material_id integer NOT NULL,
    material_name character varying(150) NOT NULL,
    material_type character varying(100),
    durability_score integer,
    cushioning_score integer,
    water_resistance_score integer,
    biodegradability_score integer,
    recyclability_score integer,
    co2_emission_per_kg numeric(10,2),
    cost_per_kg numeric(10,2),
    weight_capacity_kg numeric(10,2),
    CONSTRAINT materials_biodegradability_score_check CHECK (((biodegradability_score >= 0) AND (biodegradability_score <= 100))),
    CONSTRAINT materials_cushioning_score_check CHECK (((cushioning_score >= 0) AND (cushioning_score <= 10))),
    CONSTRAINT materials_durability_score_check CHECK (((durability_score >= 0) AND (durability_score <= 10))),
    CONSTRAINT materials_recyclability_score_check CHECK (((recyclability_score >= 0) AND (recyclability_score <= 100))),
    CONSTRAINT materials_water_resistance_score_check CHECK (((water_resistance_score >= 0) AND (water_resistance_score <= 10)))
);


ALTER TABLE public.materials OWNER TO postgres;

--
-- Name: materials_material_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.materials_material_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.materials_material_id_seq OWNER TO postgres;

--
-- Name: materials_material_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.materials_material_id_seq OWNED BY public.materials.material_id;


--
-- Name: materials_processed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials_processed (
    material_name bigint,
    material_type bigint,
    durability_score double precision,
    cushioning_score double precision,
    water_resistance_score double precision,
    biodegradability_score double precision,
    recyclability_score double precision,
    co2_emission_per_kg double precision,
    cost_per_kg double precision,
    weight_capacity_kg double precision,
    "CO2_Impact_Index" double precision,
    "Performance_Score" double precision,
    "Cost_Efficiency_Index" double precision,
    "Material_Suitability_Score" double precision
);


ALTER TABLE public.materials_processed OWNER TO postgres;

--
-- Name: product_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_material (
    id integer NOT NULL,
    product_id integer,
    material_id integer,
    suitability_score numeric(10,2)
);


ALTER TABLE public.product_material OWNER TO postgres;

--
-- Name: product_material_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_material_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_material_id_seq OWNER TO postgres;

--
-- Name: product_material_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_material_id_seq OWNED BY public.product_material.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    product_name character varying(150) NOT NULL,
    industry character varying(100),
    weight_kg numeric(10,2),
    volume_cm3 numeric(10,2),
    fragility_level character varying(50),
    moisture_sensitivity character varying(50),
    temperature_sensitivity character varying(50),
    price_usd numeric(10,2)
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_processed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_processed (
    product_id integer,
    product_name character varying(150),
    industry character varying(100),
    weight_kg numeric(10,2),
    volume_cm3 numeric(10,2),
    fragility_level character varying(50),
    moisture_sensitivity character varying(50),
    temperature_sensitivity character varying(50),
    price_usd numeric(10,2)
);


ALTER TABLE public.products_processed OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_product_id_seq OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_product_id_seq OWNED BY public.products.product_id;


--
-- Name: materials material_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials ALTER COLUMN material_id SET DEFAULT nextval('public.materials_material_id_seq'::regclass);


--
-- Name: product_material id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_material ALTER COLUMN id SET DEFAULT nextval('public.product_material_id_seq'::regclass);


--
-- Name: products product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN product_id SET DEFAULT nextval('public.products_product_id_seq'::regclass);


--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: materials_processed; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_material; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_material (id, product_id, material_id, suitability_score) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_processed; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: materials_material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.materials_material_id_seq', 63, true);


--
-- Name: product_material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_material_id_seq', 1, false);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 120, true);


--
-- Name: materials materials_material_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_material_name_key UNIQUE (material_name);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (material_id);


--
-- Name: product_material product_material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_material
    ADD CONSTRAINT product_material_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: products products_product_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_product_name_key UNIQUE (product_name);


--
-- Name: idx_industry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_industry ON public.products USING btree (industry);


--
-- Name: idx_material_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_name ON public.materials USING btree (material_name);


--
-- Name: idx_product_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_name ON public.products USING btree (product_name);


--
-- Name: product_material product_material_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_material
    ADD CONSTRAINT product_material_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(material_id) ON DELETE CASCADE;


--
-- Name: product_material product_material_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_material
    ADD CONSTRAINT product_material_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 2bC94muHVLJRdSGOmUbQCy7bll3N9hTOHAJqViePBBCXBgrC1cklsf1UGDKbr6U

